h1 {
    text-align: center;
    background-color: rgb(230, 98, 94);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

h3 {
    font-weight: bold;
    color: rgb(134, 10, 10);
    font-size: 28px;
}

a {
    font-size: 18px;
    color: darkblue;
    font-weight: bold;
}

h3,
ul,
ol,
p {
    font-family: monospace;
}

ul,
ol,
p {
    font-size: 18px;

}

img {
    height: auto;
    width: 300px;
}